mixin device-card(src, device, description)
  div.device-card
    img.image(src=src)
    h1.device=device
    p.description=description
    block
    
mixin price-label(value)
  div.price-label
    sup.currency $
    span.value=value
    span.period / month

mixin payment-option(option, src, checked)
  div.payment-option
    input.radio(type="radio" value=option name="card" id=option checked=checked)      
    label.label(for=option)=option
      img.image(src=src)
      img.check(src="img/check.svg")
        