mixin device-card(src, device, description)
  div.device-card
    img.image(src=src)
    h1.device=device
    p.description=description
    block
    
mixin price-label(value)
  div.price-label
    sup.currency $
    span.value=value
    span.period / month

mixin payment-option(option, src, checked)
  div.payment-option
    input.radio(type="radio" value=option name="card" id=option checked=checked)      
    label.label(for=option)=option
      img.image(src=src)
      img.check(src="img/check.svg")

mixin button(text)
  button.button=text
    block

mixin order-table(userName, order)
  table.order-table
    thead.header
      tr
        td.userName=userName
        td.account          
          a.user(href="")
            img.account(src="img/account.svg")
    tbody.body
      tr
        td.caption(colspan="2") Thanks for your order #{order}, your package will be on it's way shortly.
    - var products = {"Chapelli Vintage Single Speed":"$317","Castelli Arenberg Gel Gloves":"$39"}
    each price,description in products 
      tr.item
        td.description=description
        td.price=price      
    tfoot.footer
      tr
        td TOTAL
        td.price $356